.body{
    background-color: rgb(63, 61, 61);
    }
    
    
    .bir:hover{
        text-align: center;
        }
    
    .ikki{
        text-align: center;}
    
    .uch{
        text-align: center;}
    
    .tort{
        text-align: center;}
    
    .besh{
        text-align: center;}
    
    .olti{
        text-align: center;}
    
    .yetti{
        text-align: center;}
    